<div id="greeting">
	<h2>Hi, <%= @user.fname %>! Check out the lastest posts in the DVQ feed below.</h2>
</div>


<div id="profile-content-area">
	<% @post.each do |p| %>
	<ul class="post">
		<li class="p-username"><h4><%= p.username %></h4></li>
		<li class="p-created"><h6><%= p.created %></h6></li>
		<li class="p-body"><%= p.body %></li>
		<a href="/edit_post/<%= p.id %>
		" class="edit-post">Edit</a> 
	</ul>
	<% end %>
</div>