<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/css/feed.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type= 'text/css'>
	<title>DVQ</title>

	<script src="/js/script.js"></script>
</head>

<body>
  <div class="color">
    <div class="font ">
        <nav>
          <ul >
            <li><a href="/feed">DVQ Feed</a></li>
            <li><a id="create-post"href="#">Create Post</a></li>
            <li><a id="acct-det" href="#">Account Details</a> </li>
            <li><a href="/signout">Sign Out</a></li>
            </ul>
        </nav>
      </div>
  </div>

<div id="acct-details">
  <% if @user %>
    <div id="acct-form">
      <h1>My account details</h1>

      <form method="post" action="/account_details">

        <label for='fname'>First Name:</label>
        <input type='text' name='fname' value=<%= @user.fname %> >
        <label for='lname'>Last Name:</label>
        <input type="text" name="lname" value=<%= @user.lname %> >
        <label for='email'>email:</label>
        <input type='text' name='email' value=<%= @user.email %> >
        <label for='username'>Username:</label>
        <input type='text' name='username' value=<%= @user.username %> >
        <label for='password'>password:</label>
        <input type='text' name='password' value=<%= @user.password %> >

        <input type='submit' value='Submit Changes'>
      </form>

      <button class="esc">Close</button>

      <br><br><br>

      <p><a href='/delete_acct'>Delete Account</a><h5>WARNING: Clicking this link WILL delete your account! Once your account is deleted, it cannot be recovered!</h5></p>
    </div>
  <% end %>
</div>

<div id="create_post">
  <% if @user %>
    <div id="create-post-form">
      <form method="POST" action="/create_post">
      <label for="post"><%= @user.fname %>, whats on your mind?</label>
      <!--  <input type="text" name="[post]title"> -->
      <textarea type="text" name= "body"></textarea>
      <!-- who created the post/ hidden text will tell  -->
      <!-- <input type= "hidden" value=<#%current_user.id%> name="[post]user_id"> -->
      <input type="submit">
      </form>

      <button class="esc">Close</button>
    </div>
  <% end %>
</div>

<% if flash[:notice] %>
    <div class="flash-notice">
      <%=flash[:notice] %>
    </div>
<% elsif flash[:alert] %>
    <div class="flash-alert">
      <%=flash[:alert] %>
    </div>
<% else %>
<% end %>

  <%= yield %> 
</body> 
</html>